# Configuration file

entitiesalwaysinfernal {
    B:AS_EntityGolem=false
    B:BetterCaveSpiderEntity=false
    B:BetterSpiderEntity=false
    B:EntityArcher=false
    B:EntityAvaton=false
    B:EntityBabySkeleton=false
    B:EntityBanshee=false
    B:EntityBasalz=false
    B:EntityBlaze=false
    B:EntityBlitz=false
    B:EntityBlizz=false
    B:EntityBlueSlime=false
    B:EntityBoneWorm=false
    B:EntityBrainyZombie=false
    B:EntityCQRBoarmage=false
    B:EntityCQRDwarf=false
    B:EntityCQREnderman=false
    B:EntityCQRGremlin=false
    B:EntityCQRHuman=false
    B:EntityCQRIllager=false
    B:EntityCQRLich=false
    B:EntityCQRMandril=false
    B:EntityCQRMummy=false
    B:EntityCQRNecromancer=false
    B:EntityCQROgre=false
    B:EntityCQROrc=false
    B:EntityCQRPirate=false
    B:EntityCQRPirateCaptain=false
    B:EntityCQRSkeleton=false
    B:EntityCQRSpectre=false
    B:EntityCQRZombie=false
    B:EntityCalpod=false
    B:EntityCaveSpider=false
    B:EntityCreeper=false
    B:EntityCreeperPig=false
    B:EntityCreepervoker=false
    B:EntityCryptkeeper=false
    B:EntityCultistCleric=false
    B:EntityCultistKnight=false
    B:EntityCultistPortalLesser=false
    B:EntityCyclops=false
    B:EntityDreadBeast=false
    B:EntityDreadGhoul=false
    B:EntityDreadKnight=false
    B:EntityDreadLich=false
    B:EntityDreadScuttler=false
    B:EntityDreadThrall=false
    B:EntityEarthElemental=false
    B:EntityElderGuardian=false
    B:EntityEnchanter=false
    B:EntityEnderManSkeleton=false
    B:EntityEnderman=false
    B:EntityEndermanCreeper=false
    B:EntityEttin=false
    B:EntityEvoker=false
    B:EntityFeralGhoul=false
    B:EntityFireBat=false
    B:EntityFoglet=false
    B:EntityFurantur=false
    B:EntityGeist=false
    B:EntityGhast=false
    B:EntityGhost=false
    B:EntityGhoul=false
    B:EntityGorgomite=false
    B:EntityGorgon=false
    B:EntityGraveRobber=false
    B:EntityGraveRobberGhost=false
    B:EntityGuardian=false
    B:EntityHost=false
    B:EntityHuskSpider=false
    B:EntityHydra=false
    B:EntityIceElemental=false
    B:EntityIllagerKing=false
    B:EntityIlliusionerCreeper=false
    B:EntityIllusionIllager=false
    B:EntityIsnachi=false
    B:EntityKrake=false
    B:EntityLobber=false
    B:EntityMagmaCube=false
    B:EntityManaCreeper=false
    B:EntityManaElemental=false
    B:EntityMimic=false
    B:EntityPech=false
    B:EntityPigZombie=false
    B:EntityPillager=false
    B:EntityPingu=false
    B:EntityPiranha=false
    B:EntityScuttler=false
    B:EntitySeaHag=false
    B:EntityShambler=false
    B:EntityShamblerTwisted=false
    B:EntitySilverfish=false
    B:EntitySilverfishCreeper=false
    B:EntitySiren=false
    B:EntitySkeleton=false
    B:EntitySlime=false
    B:EntitySlimeDefiled=false
    B:EntitySpider=false
    B:EntitySpiderCreeper=false
    B:EntitySpiderGuardian=false
    B:EntitySpiderWitch=false
    B:EntitySquidCreeper=false
    B:EntityStray=false
    B:EntityStymphalianBird=false
    B:EntityTreant=false
    B:EntityTroll=false
    B:EntityUndertaker=false
    B:EntityVex=false
    B:EntityVindicator=false
    B:EntityWaterElemental=false
    B:EntityWendigo=false
    B:EntityWisp=false
    B:EntityWitch=false
    B:EntityWitherSkeleton=false
    B:EntityWraith=false
    B:EntityZombie=false
    B:EntityZombieCreeper=false
    B:EntityZombiePiranha=false
    B:EntityZombieSpider=false
    B:EntityZombieVillager=false
    B:MoCEntityCaveOgre=false
    B:MoCEntityCaveScorpion=false
    B:MoCEntityDarkManticore=false
    B:MoCEntityDirtScorpion=false
    B:MoCEntityFireOgre=false
    B:MoCEntityFlameWraith=false
    B:MoCEntityGolem=false
    B:MoCEntityGreenOgre=false
    B:MoCEntityHellRat=false
    B:MoCEntityHorseMob=false
    B:MoCEntityManticore=false
    B:MoCEntityMiniGolem=false
    B:MoCEntityPlainManticore=false
    B:MoCEntityRat=false
    B:MoCEntityScorpion=false
    B:MoCEntitySilverSkeleton=false
    B:MoCEntityToxicManticore=false
    B:MoCEntityUndeadScorpion=false
    B:MoCEntityWWolf=false
    B:MoCEntityWerewolf=false
    B:MoCEntityWraith=false
    B:PoisonousLibelle=false
    B:Werewolf=false
}


entitybasehealth {
    D:AS_EntityGolem=200.0
    D:BetterSpiderEntity=16.0
    D:EntityAvaton=30.0
    D:EntityBabySkeleton=20.0
    D:EntityBlaze=20.0
    D:EntityBlitz=20.0
    D:EntityBlizz=20.0
    D:EntityBlueSlime=4.0
    D:EntityBrainyZombie=25.0
    D:EntityCQRIllager=118.30000305175781
    D:EntityCQRLich=220.0
    D:EntityCQRMummy=24.0
    D:EntityCQRPirateCaptain=320.0
    D:EntityCQRSkeleton=20.0
    D:EntityCalpod=5.0
    D:EntityCaveSpider=12.0
    D:EntityCreeper=20.0
    D:EntityCreeperPig=30.0
    D:EntityCreepervoker=40.0
    D:EntityCryptkeeper=25.0
    D:EntityCyclops=150.0
    D:EntityDreadThrall=20.0
    D:EntityEnderman=40.0
    D:EntityEttin=30.0
    D:EntityFoglet=16.0
    D:EntityGeist=15.0
    D:EntityGhost=30.0
    D:EntityGhoul=15.0
    D:EntityGorgon=100.0
    D:EntityGuardian=30.0
    D:EntityHost=20.0
    D:EntityHydra=200.0
    D:EntityIlliusionerCreeper=24.0
    D:EntityKrake=10.0
    D:EntityManaElemental=20.0
    D:EntityPech=30.0
    D:EntityPigZombie=20.0
    D:EntityPillager=24.0
    D:EntityPingu=10.0
    D:EntityPiranha=5.0
    D:EntityScuttler=16.0
    D:EntityShamblerTwisted=40.0
    D:EntitySilverfishCreeper=10.0
    D:EntitySiren=50.0
    D:EntitySkeleton=20.0
    D:EntitySlime=16.0
    D:EntitySlimeDefiled=1.0
    D:EntitySpider=16.0
    D:EntitySpiderCreeper=36.0
    D:EntitySpiderGuardian=50.0
    D:EntitySpiderWitch=50.0
    D:EntitySquidCreeper=26.0
    D:EntityStymphalianBird=24.0
    D:EntityTroll=50.0
    D:EntityUndertaker=40.0
    D:EntityVindicator=24.0
    D:EntityWisp=22.0
    D:EntityWitch=26.0
    D:EntityWraith=25.0
    D:EntityZombie=20.0
    D:EntityZombiePiranha=8.0
    D:EntityZombieSpider=36.0
    D:EntityZombieVillager=20.0
    D:MoCEntityFireOgre=35.0
    D:MoCEntityFlameWraith=15.0
    D:MoCEntityGolem=50.0
    D:MoCEntityGreenOgre=35.0
    D:MoCEntityHellRat=20.0
    D:MoCEntityHorseMob=30.0
    D:MoCEntityManticore=40.0
    D:MoCEntityMiniGolem=15.0
    D:MoCEntityRat=10.0
    D:MoCEntityScorpion=18.0
    D:MoCEntitySilverSkeleton=25.0
    D:MoCEntityToxicManticore=45.0
    D:MoCEntityWWolf=15.0
    D:MoCEntityWerewolf=40.0
    D:MoCEntityWraith=10.0
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=true
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=true
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true
    S:dimensionIDBlackList=
    B:disableGUIoverlay=false
    S:droppedItemIDsElite=iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6
    S:droppedItemIDsInfernal=diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book
    S:droppedItemIDsUltra=bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book
    I:eliteRarity=15
    I:infernoRarity=7
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0
    S:mobHealthFactor=1.0
    I:ultraRarity=7
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:AS_EntityGolem=true
    B:BetterCaveSpiderEntity=true
    B:BetterSpiderEntity=true
    B:EntityArcher=true
    B:EntityAvaton=true
    B:EntityBabySkeleton=true
    B:EntityBanshee=true
    B:EntityBasalz=true
    B:EntityBlaze=true
    B:EntityBlitz=true
    B:EntityBlizz=true
    B:EntityBlueSlime=true
    B:EntityBoneWorm=true
    B:EntityBrainyZombie=true
    B:EntityCQRBoarmage=true
    B:EntityCQRDwarf=true
    B:EntityCQREnderman=true
    B:EntityCQRGremlin=true
    B:EntityCQRHuman=true
    B:EntityCQRIllager=true
    B:EntityCQRLich=true
    B:EntityCQRMandril=true
    B:EntityCQRMummy=true
    B:EntityCQRNecromancer=true
    B:EntityCQROgre=true
    B:EntityCQROrc=true
    B:EntityCQRPirate=true
    B:EntityCQRPirateCaptain=true
    B:EntityCQRSkeleton=true
    B:EntityCQRSpectre=true
    B:EntityCQRZombie=true
    B:EntityCalpod=true
    B:EntityCaveSpider=true
    B:EntityCreeper=true
    B:EntityCreeperPig=true
    B:EntityCreepervoker=true
    B:EntityCryptkeeper=true
    B:EntityCultistCleric=true
    B:EntityCultistKnight=true
    B:EntityCultistPortalLesser=true
    B:EntityCyclops=true
    B:EntityDreadBeast=true
    B:EntityDreadGhoul=true
    B:EntityDreadKnight=true
    B:EntityDreadLich=true
    B:EntityDreadScuttler=true
    B:EntityDreadThrall=true
    B:EntityEarthElemental=true
    B:EntityElderGuardian=true
    B:EntityEnchanter=true
    B:EntityEnderManSkeleton=true
    B:EntityEnderman=true
    B:EntityEndermanCreeper=true
    B:EntityEttin=true
    B:EntityEvoker=true
    B:EntityFeralGhoul=true
    B:EntityFireBat=true
    B:EntityFoglet=true
    B:EntityFurantur=true
    B:EntityGeist=true
    B:EntityGhast=true
    B:EntityGhost=true
    B:EntityGhoul=true
    B:EntityGorgomite=true
    B:EntityGorgon=true
    B:EntityGraveRobber=true
    B:EntityGraveRobberGhost=true
    B:EntityGuardian=true
    B:EntityHost=true
    B:EntityHuskSpider=true
    B:EntityHydra=true
    B:EntityIceElemental=true
    B:EntityIllagerKing=true
    B:EntityIlliusionerCreeper=true
    B:EntityIllusionIllager=true
    B:EntityIsnachi=true
    B:EntityKrake=true
    B:EntityLobber=true
    B:EntityMagmaCube=true
    B:EntityManaCreeper=true
    B:EntityManaElemental=true
    B:EntityMimic=true
    B:EntityPech=true
    B:EntityPigZombie=true
    B:EntityPillager=true
    B:EntityPingu=true
    B:EntityPiranha=true
    B:EntityScuttler=true
    B:EntitySeaHag=true
    B:EntityShambler=true
    B:EntityShamblerTwisted=true
    B:EntitySilverfish=true
    B:EntitySilverfishCreeper=true
    B:EntitySiren=true
    B:EntitySkeleton=true
    B:EntitySlime=true
    B:EntitySlimeDefiled=true
    B:EntitySpider=true
    B:EntitySpiderCreeper=true
    B:EntitySpiderGuardian=true
    B:EntitySpiderWitch=true
    B:EntitySquidCreeper=true
    B:EntityStray=true
    B:EntityStymphalianBird=true
    B:EntityTreant=true
    B:EntityTroll=true
    B:EntityUndertaker=true
    B:EntityVex=true
    B:EntityVindicator=true
    B:EntityWaterElemental=true
    B:EntityWendigo=true
    B:EntityWisp=true
    B:EntityWitch=true
    B:EntityWitherSkeleton=true
    B:EntityWraith=true
    B:EntityZombie=true
    B:EntityZombieCreeper=true
    B:EntityZombiePiranha=true
    B:EntityZombieSpider=true
    B:EntityZombieVillager=true
    B:MoCEntityCaveOgre=true
    B:MoCEntityCaveScorpion=true
    B:MoCEntityDarkManticore=true
    B:MoCEntityDirtScorpion=true
    B:MoCEntityFireOgre=true
    B:MoCEntityFlameWraith=true
    B:MoCEntityGolem=true
    B:MoCEntityGreenOgre=true
    B:MoCEntityHellRat=true
    B:MoCEntityHorseMob=true
    B:MoCEntityManticore=true
    B:MoCEntityMiniGolem=true
    B:MoCEntityPlainManticore=true
    B:MoCEntityRat=true
    B:MoCEntityScorpion=true
    B:MoCEntitySilverSkeleton=true
    B:MoCEntityToxicManticore=true
    B:MoCEntityUndeadScorpion=true
    B:MoCEntityWWolf=true
    B:MoCEntityWerewolf=true
    B:MoCEntityWraith=true
    B:PoisonousLibelle=true
    B:Werewolf=true
}


